name: Build Snap

on:
  push:
    tags:
      - '*.*.*'
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        include:
          - arch: amd64
            runner: ubuntu-latest
          - arch: arm64
            runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.runner }}

    steps:
      - uses: actions/checkout@v6

      - name: Build snap
        uses: snapcore/action-build@v1
        id: build

      - name: Upload snap artifact
        uses: actions/upload-artifact@v6
        with:
          name: snap-${{ matrix.arch }}
          path: ${{ steps.build.outputs.snap }}
